@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');
body {
    background: url(https://images.unsplash.com/photo-1515404929826-76fff9fef6fe?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80) no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    padding: 0;
    font: 15px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    margin: auto;
    color: white;
}

h1 {
    margin: 80px 0
}

.btn {
    background: #4B99AD;
    border: #357ebd solid 0px;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
    transition: color .1s ease;
}

.btn:hover {
    background: #357ebd;
}

.btn.btn-big {
    font-size: 16px;
    padding: 15px 20px;
    min-width: 80px;
}

.btn-close {
    color: #aaaaaa;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    position: absolute;
    right: 7px;
    top: 0;
}

.btn-close:hover {
    color: #919191;
}

.modale:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.opened:before {
    display: block;
}

.opened .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
}

.modal-dialog {
    background: #fefefe;
    border: #333333 solid 0px;
    border-radius: 5px;
    margin-left: -200px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 360px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal-body {
    padding: 20px;
}

.modal-body input {
    width: 200px;
    padding: 8px;
    border: 1px solid #ddd;
    color: #888;
    outline: 0;
    font-size: 14px;
    font-weight: bold
}

.modal-header,
.modal-footer {
    padding: 10px 20px;
}

.modal-header {
    border-bottom: #eeeeee solid 1px;
}

.modal-header h2 {
    font-size: 20px;
}

#logo {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    border: solid white 2px;
    border-radius: 4px;
    border-style: dashed;
    opacity: 40%;
    padding: 10px;
}

#logo:hover {
    opacity: 85%;
    transform: scale(1.1);
    transition-duration: 0.5s;
}

nav:hover {
    background: white;
    border-radius: 5px;
    transition-duration: 0.5s;
    color: black;
    cursor: pointer;
}

.container {
    height: 60vh;
    margin: auto;
}

.form-style-1 {
    height: 50vh;
    color: white;
    margin: 70px auto;
    max-width: 400px;
    padding: 20px;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.form-style-1 input[type=text],
.form-style-1 input[type=date],
.form-style-1 input[type=datetime],
.form-style-1 input[type=number],
.form-style-1 input[type=search],
.form-style-1 input[type=time],
.form-style-1 input[type=url],
.form-style-1 input[type=email],
textarea,
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=date]:focus,
.form-style-1 input[type=datetime]:focus,
.form-style-1 input[type=number]:focus,
.form-style-1 input[type=search]:focus,
.form-style-1 input[type=time]:focus,
.form-style-1 input[type=url]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.form-style-1 .field-divided {
    width: 49%;
}

.form-style-1 .field-long {
    width: 100%;
}

.form-style-1 .field-select {
    width: 100%;
}

.form-style-1 .field-textarea {
    height: 100px;
}

.form-style-1 input[type=submit],
.form-style-1 input[type=button] {
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    margin-top: 25px;
}

.form-style-1 input[type=submit]:hover,
.form-style-1 input[type=button]:hover {
    background: #4691A4;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-style-1 .required {
    color: red;
}

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.dissapear {
    display: none;
}

footer {
    text-align: center;
    padding: 12px 5px;
    margin-top: 30px;
    height: 5vh;
    opacity: 70%;
}